@font-face {
    font-family: "Khemala";
    src: url("fonts/Khemala.ttf");
}

@font-face {
    font-family: "Lane";
    src: url("fonts/Lane.ttf");
}

@font-face {
    font-family: "Vanadine";
    src: url("fonts/Vanadine.ttf");
}


nav.navbar.navbar-dark{
    z-index: 100;
    position: absolute; 
    background-color: rgba(0,0,0,0);
    color: rgb(230, 230, 230);
    font-family: "Khemala", sans-serif;
}

.jumbotron {
    position: relative;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.39);
    overflow: hidden;
    color: rgb(230, 230, 230);
    font-family: "Lane", sans-serif;
}

h1.display-1{
    font-family: "Vanadine";
    line-height: 0.75;
}

.spacer{
    display: inline-block;
    line-height: 120px;
}

.btn.btn-outline-light{
    border: none;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.39);
    width: 120px;
}
.btn.btn-outline-light:hover{
    background-color: rgb(230, 230, 230);
    font-weight: 700;
}


#background {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
}