@import url('https://fonts.googleapis.com/css?family=Abel');

@font-face {
    font-family: "Khemala";
    src: url("fonts/Khemala.ttf");
}

@font-face {
    font-family: "Lane";
    src: url("fonts/Lane.ttf");
}

@font-face {
    font-family: "Vanadine";
    src: url("fonts/Vanadine.ttf");
}

body{
    font-family: "Abel", sans-serif;    
    background-color: rgb(223, 226, 252);
}

p{
    font-size: 1.4rem;
}
.brand{
    font-family: "Abel", sans-serif;    
}

nav.navbar.navbar-dark{
    z-index: 100;
    position: absolute; 
    background-color: rgba(0,0,0,0);
    color: rgb(255, 255, 255);
}

.jumbotron {
    position: relative;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.40);
    overflow: hidden;
    color: rgb(255, 255, 255);
    font-family: "Lane", sans-serif;  
    margin-bottom: 0;     
}

h1.display-1{
    font-family: "Vanadine";
    line-height: 0.75;
}
@media (max-width: 576px) {
    h1.display-1{   
        font-size: 4rem;
    }
}

.spacer{
    display: inline-block;
    line-height: 140px;
}

.btn.btn-outline-light{
    border: none;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.40);
    width: 120px;
}
.btn.btn-outline-light:hover{
    background-color: rgb(230, 230, 230);
    font-weight: 700;
}


#background {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
}

h1{
    font-family:  "Vanadine", "Helvetica", sans-serif;
    font-weight: 800;
    line-height: 2.0;
    text-align: center;
}

#description{
    background-color: rgb(29, 31, 39);
    color: rgb(230, 230, 230);
    padding: 20px 0 40px;
    margin-bottom: 20px;
}

.carousel-control-prev,
.carousel-control-next,
.carousel-control-prev:focus,
.carousel-control-next:focus{
    opacity: 0;
    transition: opacity 0.5s;
}
.carousel-control-prev:hover,
.carousel-control-next:hover
.carousel-control-prev:hover:focus,
.carousel-control-next:hover:focus{
    opacity: 1;
}
@media (max-width: 576px) {
    #carousel{
        display: none;
    }
}
#screenshots{
    margin: 5px -5px;
}
.img-container{
    flex-basis: 25%;
    flex-grow: 0;
    padding: 5px;
}
@media (max-width: 576px) {
    .img-container{
        flex-basis: 100%;
    }
}
.img-container>img{
    width:100%;
    height: 100%;
    cursor: pointer;
}

.btn.btn-download{
    background-color: rgb(29, 31, 39);
    width: auto;
    font-family: "Lane", sans-serif;            
}   

footer{
    margin-top: 50px;
    padding: 20px;
    background-color: rgb(29, 31, 39);
    color: rgb(230, 230, 230);
}